
@font-face {
  font-family: LatoSemi;
  src: url("./latosemibold.ttf");
}
@font-face {
  font-family: LatoMedium;
  src: url("./Lato-Medium.ttf");
}
@font-face {
  font-family: LatoHeavy;
  src: url("./Lato-Heavy.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("./Lato-Bold.ttf");
}
#main{
  flex: 1;

}
#firstDiv{
  height: 430px;
  background-color: #F7F7F7 ;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
#toolbar{
  width: 100%;
  height: 192px;
  background-color: #5500A5;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
#imgDiv{
  padding-left: 18px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
}
#barText{
  font-size: 22px;
  color: #ffffff;
  padding-left: 18px;
  height: 70px;
  font-family: LatoSemi;
  // padding: 64px 0 19px 30px;
}
#inputDiv{
  text-align: center;
}
// input{
//     width: 85%;
//     font-size: 12px;
//     font-family: LatoMedium;
//     padding: 12px 20px;
//     border-radius: 4px;
//     border: none;
//     color: rgba(0, 0, 0, 0.5);
// }
::placeholder {
  color: rgba(0,0,0,0.5);
}
#popularCars{
width: 100%;
border-bottom-right-radius: 28px;
border-bottom-left-radius: 28px;
}
p{
  font-family: LatoSemi;
   font-size: 4px;
   color: #ffffff;
  //  line-height: 0px;
}
.card-head-container{
  // display: flex;
}
#popularCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #ffffff;
  width: 129px;
  height: 160px;
  border-radius: 7px;
  margin-left: 24px;
  display: inline-flex;

}
#recentCard{
//  display: flex;
    display: block;
    overflow-x: auto;
    white-space: pre;
    padding: 8px;
    width: 100%;
    overflow-y: hidden;
}
.cardHead{
  // margin-left: 24px;
  font-size: 20px;
  font-family: LatoSemi;
  color: #2A2A2A;
  // height: 10px;
  // display: flex;
  align-items: center;
  padding: 11px 24px;
  display: inline-block;
}
.secText{
  line-height: 8px;
  color: rgba(255 , 255 , 255 , 0.6);
  font-size: 4px;
}
.carImg{
  position: relative;
  top: -14px;
  left: 11px;
}
.f-div{
  padding: 8px;
  display: flex;
}
.carName{
  font-family: LatoHeavy;
  color: #656565;
  text-align: center;
  font-size: 18px;
}
#Lamborghini{
  color: #F7AB65;
}
#ferrari{
  color: #BB5757;
}
.speed{
  font-family: LatoSemi;
  font-size: 7px;
  line-height: 0px;
  color: #575757;
}
.carSpeed{
  font-family: LatoSemi;
  color: #000000;
  font-size: 8px;
}
#bottomTabDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0 14px 0;
}
#bottomTab{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #ffffff;
  width: 88%;
  height: 44px;
  border-radius: 10px;
display: flex;
position: fixed;
    bottom: 17px;
// justify-content: space-around;
// align-items: center;
  }
  #homeImg{
    background-color:#5500A5 ;  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .bottomImages{
    width: 17px;
    height: 18px;
  }
.more{
  display: inline-block;
  float: right;
  padding-top: 22px;
  padding-right: 18px;
  font-size: 12px;
  color: #5500A5;
  font-family: LatoSemi;
}
  .speed-container{
    padding: 5px;
  }
.card-bottom-text{
  font-size: 7px;
  font-family: LatoMedium;
  position: relative;
  top: -12px;
  left: 8px;
}

.tabIcon{
  width: 22%;
  justify-content: center;
  align-items: center;
  display: flex;
}

  .container {
    // background-color: #5b4da4;
    // height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 90%;
    background-color: #ffffff;
    height: 38px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

input {
    flex: 1;
    padding-left:  10px;
    outline: none;
    margin: 2px;
    border: none;
    font-size: 12px;
    font-family: LatoMedium;
    color: rgba(0, 0, 0, 0.5);
}
.search-icon-container{
    height: 38px;
    /* background-color: #911010; */
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon-img{
  height: 14px;
}
#popularCardContainer{  display: block;
  display: block;
  overflow-x: auto;
  padding: 4px;
  overflow-y: hidden;
  white-space: pre;
  width: 100%;

}
.hover-button:active{
  opacity: 0.5;
}

  .container-recent-car {
    background-color: #fff;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recent-car-card {
    // height: 160px;
    // width: 185px;
    height: 111px;
    width: 155px;
    background-color: #f6f6f6;
    border-radius: 8px;
    position: relative;   
     margin-left: 24px;
     display: inline-block;
     padding: 8px;

}

.card-head {
    display: flex;
    padding: 8px;
}

.card-head-title {
    /* background: green; */
    width: 50%;
    font-size: 10px;
    font-family: LatoBold;
}

.card-head-logo {
    /* background: rgb(128, 30, 0); */
    width: 50%;
    text-align: right;
}

.card-head-logo-img {
    height: 17px;

}

.card-body-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 90px;
}

.card-body-img {
    height: 44px;
}

.card-footer-container {
    height: 32px;
    /* background-color: rgb(137, 139, 206); */
    display: flex;
}

.card-footer-left {
    width: 60%;
    height: 100%;
    /* background-color: rgb(0, 13, 128); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 7px;
    padding-right: 7px
        /* border-bottom-left-radius: 8px */
}

.card-footer-right {
    width: 40%;
    height: 100%;
    display: flex;
    // align-items: flex-end;
    border-bottom-left-radius: 8px;

    
}

.card-footer-left-img {
    height: 12px;
    color: #5500A5;
}

.card-footer-left-text {
    font-size: 7px;
    font-family: LatoBold;
}

.card-footer-details-btn {
    background-color: #5500A5;
    color: #fff;
    height: 80%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 8px;
    font-family: LatoSemi;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}


.round-opacity {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 92px;
    height: 90px;
    background-color: #2b2b2b;
    border-top-right-radius: 119px;
    opacity: 0.03;

}